<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/MediaControl" version="1.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="ntRVafv1Ov.MediaControl" package="ntRVafv1Ov" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"/>
    <tizen:metadata key="http://developer.samsung.com/tizen/metadata/bixby/companion-app/version" value="10000"/>
    <tizen:metadata key="http://developer.samsung.com/tizen/metadata/bixby/companion-app/action-id" value="tvMediaControl.Restart,tvMediaControl.TrackNext,tvMediaControl.TrackPrevious,tvMediaControl.SkipBackward,tvMediaControl.SkipForward,tvMediaControl.SetPlayPosition,tvMediaControl.SetSubtitle,tvMediaControl.SetShuffle,tvMediaControl.SetScreenFit,tvMediaControl.Screenfit,tvMediaControl.SetSubtitle,tvMediaControl.SetZoom,tvMediaControl.Rotate,tvMediaControl.Set360Mode,tvMediaControl.ContinueWatching,tvMediaControl.SetRepeat,tvMediaControl.TrackPrevious,tvLauncher.Open"/>
    <tizen:metadata key="http://developer.samsung.com/tizen/metadata/bixby/companion-app/capsule id" value="tvMediaControl"/>
    <tizen:metadata key="http://developer.samsung.com/tizen/metadata/bixby/sdk/version" value="v1.0 beta.1.4"/>
    <name>MediaControl</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
